@font-face {
	font-family: 'Geometria Medium';
  src: local('Geometria Medium'), local('Geometria-Medium'),
		url(../fonts/Geometria-Medium.woff) format('woff'),
    url(../fonts/Geometria-Medium.ttf) format('truetype'),
    url(../fonts/Geometria-Medium.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria Bold';
	src: local('Geometria Bold'), local('Geometria-Bold'),
		url(../fonts/Geometria-Bold.woff) format('woff'),
		url(../fonts/Geometria-Bold.ttf) format('truetype'),
		url(../fonts/Geometria-Bold.eot) format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: 'Caveat-Regular';
	src: local('Caveat Regular'), local('Caveat-Regular'),
		url(../fonts/Caveat-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Francois One';
	src: local('FrancoisOne-Regular'), local('FrancoisOne-Regular'),
		url(../fonts/FrancoisOne-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

body {
  font: 12px/15px 'Geometria Medium', Arial, sans-serif;
  color: #8e80a9;
  background-color: #fcf8fe;
  background-image: url(../img/assets/member-card-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 52%;
  background-size: contain;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 100vw;
  height: 40px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-fixed {
  background-color: #fff;
  box-shadow: 0 4px 2px -2px #8e80a9;
}

#menu-toggle {
  display: none;
}

.menu-title {
  visibility: hidden;
  position: absolute;
  top: -5px;
}

.menu-button label {
  position: relative;
  display: block;
  width: 30px;
  height: 1px;
  background-color: #8e80a9;
  cursor: pointer;
}

.menu-button label::before,
.menu-button label::after {
  position: absolute;
  left: 0;
  content: '';
  width: 30px;
  height: 1px;
  background-color: #8e80a9;
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
}

.menu-button label::before {
  bottom: 5px;
  transform-origin: left top;
  transform: rotateZ(0deg);
}

.menu-button label::after {
  top: 5px;
  width: 20px;
  transform-origin: left bottom;
  transform: rotateZ(0deg);
}

#menu-toggle:checked ~ label {
  background-color: transparent;
}

#menu-toggle ~ label {
  transition: all 200ms cubic-bezier(1, 0, 0, 1);
}

#menu-toggle:checked ~ label::before {
  width: 15px;
  transform: rotateZ(45deg);
}

#menu-toggle:checked ~ label::after {
  width: 15px;
  transform: rotateZ(-45deg);
}

.header-menu {
  position: absolute;
  top: 30px;
  left: -285px;
  width: 160px;
  height: 285px;
  border: 1px solid #8e80a9;
  background-color: #fff;
  box-shadow: 0 4px 25px rgba(142, 128, 169, .2);
  opacity: 0;
  transition: left 300ms, opacity 300ms;
}

.header-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-menu a {
  text-decoration: none;
  color: inherit;
}

.menu-opened {
  opacity: 1;
  left: 30px;
}

.phone {
  text-decoration: none;
  color: inherit;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 335px;
  text-align: center;
  background: url(../img/assets/banner-bg.png) no-repeat 50% 0;
  background-size: cover;
}

.banner h1 {
  order: 2;
  margin: 10px 0 25px;
  text-transform: uppercase;
  text-shadow: 0 4px 50px rgba(131, 115, 161, .6);
  color: #fff;
  font-size: 65px;
  font-weight: normal;
  letter-spacing: 18px;
  text-indent: 18px;
  line-height: 45px;
}

.banner p {
  order: 1;
  margin: 0;
  font: 18px 'Caveat-Regular', 'Segoe Script', serif;
}

.go-to-btn-wrapper {
  width: 175px;
  display: flex;
  align-items: center;
  align-self: center;
  order: 3;
  text-align: left;
  color: #e65c7b;
  font-size: 10px;
  line-height: 12px;
}

.go-to-btn {
  flex: 1 0 auto;
  width: 30px;
  height: 26px;
  margin-right: 7px;
  text-align: center;
  background-color: #e65c7b;
  line-height: 30px;
  text-decoration: none;
  color: inherit;
}

.banner-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  order: 4;
  visibility: hidden;
}

.social-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-button {
  display: block;
  width: 10px;
  height: auto;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.social-buttons-wrapper .vk {
  background-image: url(../img/assets/vk.svg);
}

.social-buttons-wrapper .tw {
  background-image: url(../img/assets/twitter.svg);
}

.social-buttons-wrapper .fb {
  background-image: url(../img/assets/fb.svg);
}

.clubs {
  position: relative;
  margin-top: -50px;
  text-align: center;
}

.clubs::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 45%;
  top: 150px;
  left: -30px;
  z-index: -1;
  background: url(../img/assets/clubs-bg.png) no-repeat 0 0;
  background-size: cover;
  transform: rotate(-180deg);
}

.clubs h2 {
  margin: 0 0 40px 0;
  font: 18px 'Geometria Bold';
}

.clubs-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
}

.clubs-image-wrapper {
  width: 250px;
  height: 200px;
  overflow: hidden;
}

.club {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  box-shadow: 0 4px 25px rgba(142, 128, 169, .2);
}

.club:nth-child(3) {
  margin-bottom: 0;
}

.club-desc-wrapper {
  display: flex;
  justify-content: space-between;
  height: 115px;
  background-color: #fff;
}

.club-desc {
  width: 207px;
  padding: 20px 45px 20px 20px;
  font-size: 10px;
  text-align: left;
}

.club-desc .club-name {
  margin: 0 0 10px 0;
  font: 12px 'Geometria Bold';
  line-height: 5px;
}

.club-desc .club-schedule {
  margin: 0 0 5px 0;
}

.club-desc .club-coach {
  margin: 0;
  color: #e65c7b;
}

.club-desc-wrapper .go-to-btn {
  width: 43px;
  height: auto;
  margin: 0;
  line-height: 115px;
  background-color: #8e80a9;
}

.clubs-loader {
  display: none;
  height: 30px;
  padding: 0;
  border: none;
  line-height: 30px;
  font-size: 10px;
  color: inherit;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 25px rgba(142, 128, 169, .2);
  transition: 300ms;
}

.clubs-loader:hover {
  color: #fff;
  background-color: #8e80a9;
}

.member-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  text-align: center;
  background: url(../img/assets/member-card-clouds.png) no-repeat 55% 70px;
  background-size: cover;
}

.member-cards h2 {
  margin: 0 0 40px 0;
  font: 18px 'Geometria Bold';
}

.member-cards-toggle {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 222px;
  margin: 0 0 30px 0;
  padding: 0;
  line-height: 20px;
  list-style-type: none;
  color: #e65c7b;
}

.member-cards-toggle li {
  cursor: pointer;
}

.toggle-active {
  border-bottom: 1px solid #e65c7b;
}

.member-cards-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
}

.member-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  padding: 30px 0;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 4px 25px rgba(142, 128, 169, .2);
}

.member-card:nth-child(3) {
  margin-bottom: 0;
}

.member-card-name {
  margin: 0 0 10px 0;
  font: 16px/15px 'Geometria Bold';
}

.member-card-schedule {
  margin: 0 0 10px 0;
  font-size: 10px;
  line-height: 15px;
  color: #e65c7b;
}

.member-card-price {
  display: block;
  margin-bottom: 20px;
  font: 18px/20px 'Geometria Bold';
  text-transform: uppercase;
}

.member-card-price::first-letter {
  letter-spacing: 5px;
}

.member-card-order {
  align-self: center;
  width: 150px;
  height: 35px;
  padding: 0;
  border: none;
  line-height: 35px;
  font-size: 10px;
  color: #fff;
  background-color: #8e80a9;
  cursor: pointer;
}

.coaches {
  margin-top: 70px;
  text-align: center;
  background: url(../img/assets/coaches-bg.png) no-repeat 0 -10%;
  background-size: contain;
}

.coaches h2 {
  margin: 0 0 40px 0;
  font: 18px 'Geometria Bold';
}

.coaches-slider {
  position: relative;
  width: 290px;
  min-height: 490px;
  margin: 0 auto;
}

.coaches-slider-controls button {
  width: 16px;
  height: 31px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #8e80a9;
  cursor: pointer;
}

.coaches-slider-controls button svg {
  display: block;
  margin: 0 auto;
  stroke: #fff;
}

.coaches-slider-controls .prev-slide {
  position: absolute;
  top: 5%;
  left: 0;
  transform: rotate(180deg);
}

.coaches-slider-controls .next-slide {
  position: absolute;
  top: 5%;
  right: 0;
}

.coaches-slider-controls .slider-counter {
  display: none;
  width: 30px;
  position: absolute;
  bottom: 0;
  left: 45%;
  text-align: center;
  font-size: 10px;
}

.current-slide {
  font-size: 12px;
}

.current-slide::after {
  content: " / ";
}

.coaches-slide {
  display: flex;
  justify-content: center;
}

.coaches-desc {
  position: absolute;
  top: 0;
  right: 31px;
  width: 228px;
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  background-color: #fff;
  box-shadow: 0 4px 25px rgba(142, 128, 169, .2);
}

.coaches-image-wrapper {
  width: 82px;
  height: 82px;
}

.coaches-image-wrapper img {
  object-fit: cover;
}

.coaches-info {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  width: 77px;
}

.club-name {
  margin: 0;
  line-height: 20px;
  font-size: 10px;
  font-weight: normal;
}

.club-coach {
  margin: 0 0 5px 0;
  color: #e65c7b;
}

.coaches-desc .social-buttons-wrapper {
  display: flex;
  flex-direction: column;
  width: 18px;
  height: 42px;
  padding: 20px 20px 20px 0;
}

.coaches-desc .social-button {
  width: 16px;
  height: 10px;
  background-size: contain;
}

.coaches-desc .social-buttons-wrapper li:nth-child(2) .social-button {
  width: 18px;
  height: 12px;
}

.coaches-bio-loader {
  display: none;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #8e80a9;
}

.coaches-bio-slide {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.coaches-bio {
  position: absolute;
  top: 82px;
  right: 31px;
  display: flex;
  flex-direction: column;
  width: 228px;
  text-align: left;
  font-size: 10px;
}

.coaches-name {
  display: none;
  margin: 0 0 7px 0;
  font: 16px/20px 'Geometria Bold';
}

.coaches-exp {
  margin: 0 0 10px 0;
  color: #e65c7b;
}

.coaches-skills p:first-child {
  margin-top: 0;
}

.coaches-skills p:last-child {
  margin-bottom: 0;
}

@keyframes slideFading {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.slide-active {
  visibility: visible;
  animation: slideFading 1s;
}

.slide-inactive {
  visibility: hidden;
}

.feedback {
  margin-top: 40px;
  text-align: center;
}

.feedback h2 {
  margin: 0 0 40px 0;
  font: 18px 'Geometria Bold';
}

.feedback-slider {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.feedback-slider-controls {
  display: flex;
  align-self: center;
  margin-top: 30px;
}

.feedback-slider-controls button {
  width: 31px;
  height: 16px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #8e80a9;
  cursor: pointer;
}

.feedback-slider-controls button svg {
  display: block;
  margin: 0 auto;
  stroke: #fff;
}

.feedback-slider-controls .prev-slide {
  transform: rotate(180deg);
}

.feedback-slider-controls .slider-counter {
  width: 30px;
  margin: 0 7px;
  text-align: center;
  font-size: 10px;
}

.current-slide {
  font-size: 12px;
}

.current-slide::after {
  content: " / ";
}

.feedback-slider-wrapper {
  display: flex;
}

.feedback-slide {
  box-sizing: border-box;
  flex: 1 0 250px;
  height: 270px;
  padding: 15px;
  margin: 0 35px;
  font-size: 10px;
  background-color: #fff;
  box-shadow: 0 4px 25px rgba(142, 128, 169, .2);
}

.feedback-slide blockquote {
  position: relative;
  margin: 45px 0 0 0;
  text-align: left;
}

.feedback-slide blockquote::before {
  position: absolute;
  top: -20px;
  left: -3px;
  content: "“";
  font: 80px 'Francois One';
  line-height: 15px;
  color: rgba(142, 128, 169, 0.39);
}

.feedback-slide blockquote p {
  margin-bottom: 20px;
}

.feedback-author {
  display: flex;
}

.feedback-image-wrapper {
  width: 52px;
  height: 52px;
}

.feedback-image-wrapper img {
  object-fit: cover;
  transform: scaleX(-1);
}

.feedback-info {
  margin-left: 13px;
  text-align: left;
  opacity: .7;
}

.feedback-info .club-coach {
  font-size: 12px;
  line-height: 10px;
}

.feedback-info .social-button {
  width: 15px;
  height: 10px;
  background-size: contain;
}

.feedback-info .social-buttons-wrapper li:nth-child(2) {
  padding-top: 2px;
}

.feedback-info .social-buttons-wrapper {
  margin-top: 9px;
}

.subscription-form {
  box-sizing: border-box;
  min-height: 390px;
  margin-top: 70px;
  padding: 70px 35px;
  background: url(../img/assets/form-bg.png) no-repeat 24% 0;
  background-size: cover;
}

.subscription-form h2 {
  margin: 0;
  font: 20px/27px 'Geometria Bold';
}

.subscription-form form {
  display: flex;
  flex-direction: column;
}

.subscription-form form input {
  border: none;
  background-color: transparent;
  font: 14px 'Geometria Medium';
}

.subscription-form input[type = "text"],
.subscription-form input[type = "tel"] {
  margin-top: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #8e80a9;
}

.subscription-form input[type = "text"]::placeholder,
.subscription-form input[type = "tel"]::placeholder {
  color: #c8c0db;
}

.subscription-form input[type = "submit"] {
  margin-top: 35px;
  padding: 20px 0;
  background-color: #e65c7b;
  color: #fff;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 50px 35px;
  background-color: #8373a1;
  color: #fff;
}

.footer-contacts-wrapper p {
  margin: 0 0 22px 0;
  line-height: 20px;
}

.footer-address-title {
  display: block;
  font-size: 14px;
}

.footer-address-desc {
  display: block;
}

.footer-contacts-wrapper a[href^="tel"] {
  font-size: 14px;
}

.footer-contacts-wrapper a,
.footer-copyright a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.footer-contacts-wrapper .social-wrapper {
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-wrapper .social {
  box-sizing: border-box;
  display: block;
  width: 35px;
  height: 20px;
  text-align: center;
}

.footer-contacts-wrapper .social svg > path {
  fill: #fff;
  fill-opacity: 1;
}

.footer-copyright {
  margin-top: 40px;
  opacity: .5;
}

.footer-copyright a {
  margin-top: 25px;
}

@media only screen and (min-width: 600px) {
  body {
    background-position: 93% 39%;
    background-size: 40%;
  }
  
  header {
    position: absolute;
    width: 100%;
    padding: 35px 75px;
  }

  .menu-button label,
  .menu-button label::before {
    width: 13px;
  }

  .menu-button label::before {
    bottom: 3px;
  }

  .menu-button label::after {
    top: 3px;
    width: 8px;
  }

  #menu-toggle:checked ~ label::before,
  #menu-toggle:checked ~ label::after {
    width: 9px;
  }

  .menu-title {
    visibility: visible;
    top: -7px;
    left: 20px;
  }

  .header-menu {
    top: 45px;
  }

  .menu-opened {
    left: 90px;
  }

  .banner {
    min-height: 484px;
  }

  .banner h1 {
    flex-basis: 20%;
    margin: 0;
    font-size: 144px;
    letter-spacing: 45px;
    text-indent: 45px;
  }

  .banner p {
    flex-basis: 15%;
    font-size: 24px;
  }

  .banner-bottom-wrapper {
    padding: 0 75px;
    margin-top: 60px;
    visibility: visible;
  }

  .clubs {
    background: url(../img/assets/clubs-bg.png) no-repeat 0 40%;
    background-size: cover;
  }

  .clubs::before {
    display: none;
  }

  .clubs h2 {
    font-size: 21px;
  }

  .clubs-loader {
    display: block;
  }

  .clubs-wrapper {
    display: grid;
    width: 623px;
    height: 332px;
    grid-template-columns: 245px 350px;
    grid-template-rows: 120px 120px 1px 30px;
    gap: 20px 25px;
  }

  .clubs-wrapper .club:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
  }

  .clubs-wrapper .club:not(:first-child) {
    grid-column: 2 / 3;
  }

  .clubs-wrapper .club:nth-child(2) {
    grid-row: 1 / 2;
  }

  .clubs-wrapper .club:nth-child(3) {
    grid-row: 2 / 3;
  }

  .clubs-wrapper .clubs-loader {
    grid-row: 4 / 5;
  }

  .club {
    box-sizing: border-box;
    margin-bottom: 0;
  }

  .clubs-wrapper .club:not(:first-child) {
    flex-direction: row;
  }

  .clubs-wrapper .club:first-child {
    width: 245px;
    height: 332px;
  }

  .clubs-image-wrapper {
    width: 150px;
    height: 120px;
  }

  .clubs-image-wrapper img {
    max-width: 100%;
    height: 100%;
  }

  .clubs-wrapper .club:first-child .clubs-image-wrapper {
    width: 245px;
    height: 210px;
  }

  .club-desc-wrapper {
    width: 205px;
    height: 120px;
  }

  .clubs-wrapper .club:first-child .club-desc-wrapper {
    width: 245px;
    height: 122px;
  }

  .clubs-wrapper .club:not(:first-child) .club-desc {
    width: auto;
    padding: 20px 0 20px 20px;
  }

  .clubs-wrapper .club:first-child .club-desc {
    width: auto;
    padding: 20px 30px 20px 20px;
  }

  .clubs-wrapper .club:not(:first-child) .club-desc-wrapper .go-to-btn {
    position: relative;
    width: 30px;
    height: 20px;
    margin-top: auto;
    transform: translate(-25px, -25px);
  }

  .clubs-wrapper .club:not(:first-child) .club-desc-wrapper .go-to-btn svg {
    position: absolute;
    top: 5px;
    right: 11px
  }

  .clubs-wrapper .club:first-child .club-desc-wrapper .go-to-btn svg {
    vertical-align: middle;
  }
  
  .member-cards {
    min-height: 430px;
    justify-content: center;
    background-position: 0 50px;
  }

  .member-cards h2 {
    font-size: 21px;
  }

  .member-cards-wrapper {
    flex-direction: row;
    justify-content: center;
    width: auto;
    min-height: 220px;
    margin: 0;
  }

  .member-card {
    width: 105px;
    height: 80px;
    margin-bottom: 0;
    padding: 40px 35px;
    transition: width 300ms, height 300ms;
  }

  .member-card button {
    visibility: hidden;
  }

  .member-card.default {
    width: 150px;
    height: 140px;
  }

  .member-card.default button {
    visibility: visible;
  }

  .member-card + .member-card {
    margin-left: 25px;
  }

  .member-card-name {
    font-size: 18px;
  }

  .member-card-price {
    font-size: 21px;
  }

  .coaches {
    min-height: 515px;
    background-position: -35% 0;
    background-size: 70%;
  }

  .coaches h2 {
    font-size: 21px;
  }

  .coaches-slider {
    width: 620px;
    min-height: 370px;
    display: flex;
  }

  .coaches-slider-controls button {
    width: 30px;
    height: 20px;
  }

  .coaches-slider-controls .prev-slide,
  .coaches-slider-controls .next-slide,
  .coaches-slider-controls .slider-counter {
    position: static;
  }

  .coaches-slider-controls .slider-counter {
    display: block;
    margin: 0 7px;
    padding-top: 2px;
  }

  .coaches-slider-controls {
    position: absolute;
    bottom: 0;
    left: 27%;
    display: flex;
  }

  .coaches-slide {
    display: flex;
    flex-direction: column;
    width: 270px;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .coaches-desc {
    position: static;
    width: 255px;
    height: 67px;
    justify-content: flex-start;
  }

  .coaches-desc:first-child {
    margin-top: 28px;
  }

  .coaches-desc + .coaches-desc {
    margin-top: 45px;
  }

  .coaches-image-wrapper {
    width: 91px;
    height: 92px;
    transform: translate(-15px, -25px);
  }

  .coaches-image-wrapper img {
    width: 100%;
    height: 100%;
  }

  .coaches-info {
    margin-left: -8px;
  }

  .coaches-bio-loader {
    display: block;
  }

  .coaches-desc .social-buttons-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: 47px;
    padding: 0;
    margin-left: auto;
    margin-right: 15px;
  }

  .coaches-desc .social-button,
  .coaches-desc .social-buttons-wrapper li:nth-child(2) .social-button {
    width: 8px;
    height: 7px;
    padding-right: 10px;
    margin-top: -15px;
  }

  .coaches-desc .social-buttons-wrapper li:nth-child(2) .social-button {
    width: 9px;
    height: 8px;
  }

  .coaches-slide .slide-inactive {
    visibility: visible;
    opacity: .5;
  }

  .coaches-bio {
    top: 0;
    left: 40px;
    width: 310px;
  }

  .coaches-bio .coaches-name {
    display: block;
  }

  .feedback h2 {
    font-size: 21px;
    margin-bottom: 20px;
  }

  .feedback-slider-wrapper {
    flex-direction: column;
    padding-top: 20px;
    height: 683px;
    overflow: hidden;
  }

  .feedback-slider-controls {
    margin-top: 25px;
  }

  .feedback-slider-controls button {
    width: 30px;
    height: 20px;
  }

  .feedback-slider-controls .slider-counter {
    display: block;
    margin: 0 7px;
    padding-top: 2px;
  }

  .feedback-slide {
    min-height: 315px;
    padding: 30px 57px 30px 87px;
    margin: 0 160px 35px 170px;
    font-size: 12px;
    line-height: 19px;
  }

  .subscription-form {
    min-height: 475px;
    margin-top: 145px;
    padding-right: 180px;
    padding-left: 180px;
    background-position: 11% 0;
  }

  .subscription-form h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .subscription-form input[type = "text"] {
    margin-top: 30px;
  }

  .subscription-form input[type = "tel"] {
    margin-top: 20px;
  }

  .subscription-form input[type = "submit"] {
    margin-top: 50px;
  }

  footer {
    padding: 75px;
  }

  .footer-contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 335px;
  }

  .footer-contacts-wrapper p:first-child {
    order: 0;
  }

  .footer-contacts-wrapper p:nth-child(2) {
    order: 3;
  }

  .footer-contacts-wrapper p:nth-child(3) {
    flex-basis: calc(37% - 1px);
    order: 2;
  }

  .footer-contacts-wrapper p:nth-child(4) {
    order: 4;
  }

  .footer-contacts-wrapper .social-wrapper {
    justify-content: flex-start;
    order: 5;
  }

  .social-wrapper .social,
  .social-wrapper .social svg {
    width: 15px;
    height: 10px;
  }

  .social-wrapper .social {
    margin-right: 10px;
  }

  .footer-copyright {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 290px;
    margin-top: 0;
  }
}
  
@media only screen and (min-width: 900px) {
  .banner {
    min-height: 650px;
  }

  .member-cards {
    min-height: 550px;
  }

  .coaches {
    background-position: 0 40%;
    background-size: 50%;
  }

  .feedback-slider-wrapper {
    flex-direction: row;
    height: 340px;
    width: 905px;
    margin: 0 auto;
  }

  .feedback-slide {
    min-width: 442px;
    margin: 0;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 16px;
    background-image: url(../img/assets/coaches-bg.png);
    background-repeat: no-repeat;
    background-position: -35% 78%;
    background-size: 80%;
  }

  header {
    padding: 65px 140px;
  }

  .menu-button label, .menu-button label::before {
    width: 24px;
  }

  .menu-button label::before {
    bottom: 6px;
  }

  .menu-button label::after {
    width: 14px;
    top: 6px;
  }

  .menu-title {
    left: 32px;
  }

  #menu-toggle:checked ~ label::before, #menu-toggle:checked ~ label::after {
    width: 18px;
  }

  .header-menu {
    top: 80px;
  }

  .menu-opened {
    left: 160px;
  }

  .banner {
    min-height: 980px;
    justify-content: space-evenly;
  }

  .banner h1 {
    font-size: 265px;
    letter-spacing: 105px;
    text-indent: 105px;
    transform: translateY(15px);
  }

  .banner p {
    font-size: 45px;
    transform: translateY(100px);
  }

  .go-to-btn-wrapper {
    width: 260px;
    font-size: 14px;
    line-height: 20px;
    transform: translateY(-100px);
  }

  .go-to-btn-wrapper .go-to-btn {
    box-sizing: border-box;
    width: 56px;
    height: 48px;
    padding-top: 5px;
    padding-left: 5px;
    margin-right: 13px;
  }

  .go-to-btn-wrapper .go-to-btn svg,
  .club-desc-wrapper .go-to-btn svg {
    width: 22px;
    height: 22px;
    stroke-width: .5px;
    vertical-align: bottom;
  }

  .banner-bottom-wrapper {
    padding: 0 140px;
    margin-top: 0;
    transform: translateY(-30px);
  }

  .banner-bottom-wrapper .social-buttons-wrapper {
    width: 57px;
  }

  .social-button {
    width: 15px;
    background-size: contain;
  }

  .social-button.fb {
    height: 10px;
  }

  .clubs {
    background-position: 59% 35%;
    background-size: 77%;
  }

  .clubs h2 {
    font-size: 30px;
    margin-bottom: 65px;
  }

  .clubs-wrapper {
    width: 925px;
    height: 490px;
    grid-template-columns: 365px 520px;
    grid-template-rows: 180px 180px 1px 50px;
    gap: 26px 37px;
  }

  .clubs-image-wrapper {
    width: 220px;
    height: 180px;
  }

  .club-desc-wrapper {
    width: 305px;
    height: 180px;
  }

  .clubs-wrapper .club:first-child {
    width: 365px;
    height: 490px;
  }

  .clubs-wrapper .club:first-child .clubs-image-wrapper {
    width: 365px;
    height: 310px;
  }

  .clubs-image-wrapper img {
    width: 100%;
  }

  .clubs-wrapper .club:first-child .club-desc-wrapper {
    width: 365px;
    height: 180px;
  }

  .clubs-wrapper .club:first-child .club-desc {
    padding: 40px 85px 25px 45px;
    font-size: 12px;
  }

  .clubs-wrapper .club:not(:first-child) .club-desc {
    padding: 33px 80px 33px 34px;
  }

  .club-desc .club-name {
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 15px;
  }

  .club-desc .club-schedule {
    margin-bottom: 16px;
    line-height: 20px;
  }

  .club-desc .club-coach {
    line-height: 15px;
  }

  .club-desc-wrapper .go-to-btn {
    width: 65px;
    line-height: 180px;
  }

  .clubs-wrapper .club:not(:first-child) .club-desc-wrapper .go-to-btn {
    width: 45px;
    height: 30px;
    transform: translate(-34px, -33px);
  }

  .clubs-wrapper .club:not(:first-child) .club-desc-wrapper .go-to-btn svg {
    width: 18px;
    height: 18px;
    top: 6px;
    right: 12px;
  }

  .clubs-loader {
    height: 50px;
    font-size: 12px;
  }

  .member-cards {
    min-height: 790px;
    margin-top: 0;
    justify-content: flex-start
  }

  .member-cards h2 {
    margin-top: 150px;
    margin-bottom: 55px;
    font-size: 30px;
    line-height: 20px;
  }

  .member-cards-toggle {
    width: 286px;
    margin-bottom: 50px;
    font-size: 12px;
  }

  .member-cards-wrapper {
    min-height: 330px;
  }

  .member-card {
    box-sizing: border-box;
    width: 265px;
    height: 235px;
    padding: 55px;
  }

  .member-card:not(.member-card.default) {
    justify-content: unset;
  }

  .member-card button {
    visibility: hidden;
  }

  .member-card.default button {
    visibility: visible;
  }

  .member-card + .member-card {
    margin-left: 35px;
  }

  .member-card.default {
    width: 330px;
    height: 330px;
  }

  .member-card-name:not(.member-card.default .member-card-name) {
    margin-bottom: 25px;
  }

  .member-card-schedule {
    font-size: 12px;
  }

  .member-card-schedule:not(.member-card.default .member-card-schedule) {
    margin-bottom: 35px;
  }

  .member-card-price {
    font-size: 30px;
  }

  .member-card-price:not(.member-card.default .member-card-price) {
    margin-bottom: 45px;
  }

  .member-card-order {
    width: 220px;
    height: 50px;
    font-size: 12px;
  }

  .coaches {
    margin-top: 0;
    background-image: url(../img/assets/member-card-bg.png);
    background-repeat: no-repeat;
    background-position: 90% 0;
    background-size: 40%;
  }

  .coaches h2 {
    font-size: 30px;
    margin-bottom: 70px;
  }

  .coaches-slider {
    width: 975px;
    min-height: 600px;
  }

  .coaches-slider-controls {
    left: 26.7%;
  }

  .coaches-slider-controls button {
    width: 45px;
    height: 30px;
  }

  .coaches-slider-controls .slider-counter {
    width: 50px;
    margin: 7px 8px 0 8px;
    font-size: 12px;
  }

  .prev-slide svg,
  .next-slide svg {
    width: 18px;
    height: 18px;
    stroke-width: .5px;
  }

  .current-slide {
    font-size: 16px;
  }

  .coaches-slide {
    width: 420px;
  }

  .coaches-desc {
    width: 400px;
    height: 105px;
    font-size: 12px;
    line-height: 20px;
  }

  .coaches-desc:first-child {
    margin-top: 35px;
  }

  .coaches-desc + .coaches-desc {
    margin-top: 90px;
  }

  .coaches-image-wrapper {
    width: 143px;
    height: 144px;
    transform: translate(-30px, -40px);
  }

  .coaches-info {
    width: 88px;
  }

  .club-name {
    font-size: 12px;
    line-height: 20px;
  }

  .coaches-desc .social-buttons-wrapper {
    width: 57px;
    margin-right: 25px;
    justify-content: flex-end;
  }

  .coaches-desc .social-buttons-wrapper .social-button.vk {
    width: 13px;
    height: 9px;
    padding-right: 20px;
  }

  .coaches-desc .social-buttons-wrapper li:nth-child(2) .social-button {
    width: 15px;
    height: 10px;
    padding-right: 0;
  }

  .coaches-bio-loader {
    margin-bottom: -8px;
    margin-top: 8px;
  }

  .coaches-bio {
    width: 487px;
    left: 65px;
    font-size: 12px;
    line-height: 20px;
  }

  .coaches-name {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
  }

  .coaches-exp {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .coaches-skills p + p {
    margin-top: 15px;
  }

  .feedback {
    margin-top: 140px;
  }

  .feedback h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .feedback-slider-controls {
    margin-top: 0;
  }

  .feedback-slider-controls .slider-counter {
    display: none;
    width: 50px;
    margin: 7px 8px 0 8px;
    font-size: 12px;
  }

  .feedback-slider-controls button {
    position: absolute;
    top: 45%;
    width: 45px;
    height: 30px;
  }

  .feedback-slider-controls .prev-slide {
    left: 19.4%;
  }

  .feedback-slider-controls .next-slide {
    right: 19.4%;
  }

  .feedback-slider-wrapper {
    width: 920px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .feedback-slide {
    margin-right: 35px;
  }

  .subscription-form {
    margin-top: 125px;
    padding-right: 250px;
  }

  .subscription-form h2,
  .subscription-form form {
    width: 410px;
    margin-left: auto;
  }

  footer {
    position: relative;
    padding: 30px 250px 30px 315px;
  }

  .footer-contacts-wrapper {
    position: absolute;
    bottom: 215px;
    left: 315px;
    color: #8e80a9;
  }

  .footer-address-desc,
  .footer-address-title + a[href|="mailto:yogaspb@gmail.com"] {
    font-size: 12px;
  }

  .footer-contacts-wrapper p {
    margin-bottom: 32px;
  }

  .footer-contacts-wrapper a {
    color: #8e80a9;
  }

  .footer-contacts-wrapper .social svg > path {
    fill: #8e80a9;
  }

  .footer-copyright {
    width: 100%;
    height: 20px;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
  }

  .footer-copyright a {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1366px) {
  .feedback-slider-controls .prev-slide {
    left: 15%;
  }

  .feedback-slider-controls .next-slide {
    right: 15%;
  }
}

@media only screen and (min-width: 1920px) {
  .banner {
    min-height: 1200px;
  }
  
  .member-cards {
    min-height: 950px;
  }

  .feedback-slider-controls .prev-slide {
    left: 25%;
  }

  .feedback-slider-controls .next-slide {
    right: 25%;
  }
}