@font-face {
	font-family: 'Geometria Medium';
  src: local('Geometria Medium'), local('Geometria-Medium'),
		url(../fonts/Geometria-Medium.woff) format('woff'),
    url(../fonts/Geometria-Medium.ttf) format('truetype'),
    url(../fonts/Geometria-Medium.eot) format('embedded-opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria Bold';
	src: local('Geometria Bold'), local('Geometria-Bold'),
		url(../fonts/Geometria-Bold.woff) format('woff'),
		url(../fonts/Geometria-Bold.ttf) format('truetype'),
		url(../fonts/Geometria-Bold.eot) format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
}

body {
  font: 14px 'Geometria Medium', Arial, sans-serif;
  color: #8e80a9;
}

header {
  display: flex;
}

.menu-button {
  position: relative;
  width: 30px;
  height: 1px;
  background-color: #8e80a9;
  box-shadow: 0 5px 0 0 #8e80a9;
}

.menu-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 20px;
  height: 1px;
  background-color: #8e80a9;
}

.header-menu {
  display: none;
  width: 50vw;
  height: 50vh;
  margin: 30px 0 0 30px;
  border: 1px solid #8e80a9;
  animation: menuopen 300ms;
}

@keyframes menuopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none;
}